
div.container1{
	position: relative;
	border:blue solid;
	margin-top: 20px;
	width: 100%;
	vertical-align: top;
	/* float: left;	 */
}
div.containerCam {
	margin-left: 3%;
	width: 40%;
	width: 1000px;
	height: 750px;
	border: 10px #7a60ffc8 solid;
	border-radius: 20px;
	display: inline-block;
	margin: auto auto;
}
#videoElement {
	position: relative;
	width: 100%;
	height: 750px;
	background-color: #666;
	border-radius: 10px;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);

}
#canvas {
	position: relative;
	top: -750px;
	left: 0px;
	/* z-index: 1; */
	/* border-radius: 20px; */
	/* border: red solid; */
	/* display: none; */
}

div #filterPreviw{
	position:absolute; 
	z-index:1;
	height: 750px;
	width: 1000px;
	overflow: hidden;
}

div.container_button{
	position: relative;
	top: -750px;
	text-align: center;
	background: #7a60ffc8;
	padding: 2px;
	border-radius: 10px;
	margin: 25px auto;
	display: inline block;
}
button{
	margin: 5px auto;
}

div.container_filtre{
	border: red solid;
	position: relative;
	width: 45%;
	/* padding: 50px; */
	display: inline-block;
	vertical-align: top;
	height: 500px;
	margin-left: 50px;
	margin-top: 80px;
	margin: center;
	overflow-y: auto;
}
div.container2{
	position: relative;
	background: rgba(0, 0, 255, 0.479);
	width: 100%;
	height: 1000px;
}
img.croix{
	width : 50px;
	cursor: pointer;
}
