
header{
	background: linear-gradient( to left top, #eb3349, #F45C43);
	height : 100px;
	border-radius: 20px;
}
.headwrap{
	width : 500px;
}
.headwrap2{
	width : 500px;
	
}
.center {
	line-height: 100px;
	margin-left: 30px;
	background: linear-gradient( to left top, #eb3349, #F45C43);
	height : 100px;
	border-radius: 20px;
}
h1{
	line-height: 100px;
	margin-left: 30px;
	font-family: 'Rubik';
	font-size: 70px;
	color: #5c41f4;
	width : 500px;
	text-decoration: none;
}
p{
	font-family: 'Rubik';
	color: #5c41f4;
}
#nom-site{
	margin-bottom: -85px;
	text-decoration: none;
}
#log{
	float: right;
	margin-right: 50px;
}
div.banniere{
	position: top;
	height: 100px ;
	background: linear-gradient( to left top, #eb3349, #F45C43);
	height : 100px;
	border-radius: 	20px;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #00cc66;
	border-radius: 50%;
	display: inline-block;
	white-space:nowrap;
}
#container {
	margin: 0px auto;
	width: 1000px;
	height: 750px;
	border: 10px #5c41f4 solid;
	margin-left: 50px;
	margin-top: 30px;
}
#videoElement {
	width: 1000px;
	height: 750px;
	background-color: #666;
	
}
#canvas {
	position: relative;
	top: -750;
	left: 0;
	z-index: 10;
}

img.cam {
	float: right;
	width:99px;
	position: relative;
	right: 20px;
	top: -7px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+39,0+41,0+94,0+94,0+100,0+100,0+100 */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 94%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,0) 42%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,0%,rgba(255,255,255,0) 94%,rgba(255,255,255,0) 100%)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a.moncompte{
	color: rgb(228, 228, 228);
	font-family: 'Rubik';
	text-decoration: none;
}
a.moncompte:hover, a.moncomte:active{
	color:#5c41f4;
	text-decoration: underline;
}

img.prevu{
	margin-top: 10px;
	margin-left: 10px;
}

h2.title{
	text-align: center;
	font-size: 40px;
	font-family: 'Rubik';
	color: gray;
}

div.Fildactu{
	/* background: #64b1e1; */
	position: relative;
	margin: 0 auto;
	width: 1230px;
}

div.imgscontainer{
	position: relative;
}

div.img{
	position: relative;
	float: left;
}

img.fil{
	width:400px;
	padding: 5px;
	cursor: pointer;
}

div div.imgdetail1{
	width: 400px;
	height: 40px;
	font-family: 'Rubik';
	font-size: 25px;

	background: rgba(0,0,0,0.8);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.03) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(0,0,0,0.03)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.03) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.03) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.03) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.03) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	position: absolute;
	color:white;
	top: 5px;
	left: 5px;
	
}
a.auteur{
	position: absolute;
	font-family: 'Rubik';
	color:white;
	top: 4px;
	left: 9px;
	text-decoration: none;
}
a.auteur:hover, a.auteur:active{
	position: absolute;
	font-family: 'Rubik';
	color:#64b1e1;
	top: 5px;
	left: 10px;
	text-decoration: underline;
}

div div.imgdetail2{
	width: 400px;
	height: 40px;
	font-family: 'Rubik';
	font-size: 25px;
	background: rgba(0,0,0,0.03);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.03)), color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	position: absolute;
	color:white;
	bottom: 5px;
	left: 5px;
	text-align: right;
	text-align: end;
	
}
div.likecom{
	position: absolute;
	right: 10px;
}
img.coeur_com{
	width: 25px;
}

/* WHITE BOX *//* WHITE BOX *//* WHITE BOX *//* WHITE BOX */

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}
.container2 {
	padding: 16px;
	background-color:#f1f1f1;
  }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 55%; /* Could be more or less, depending on screen size */
}

img.imgWhiteBox{
	width: 75%;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -25px;
  color: #000;
  font-size: 70px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

div#status{ 
	position: fixed;
	font-size: 20px;
	/* a sup a la fin */
}
